# These owners will be the default owners for everything in the repo.
* @baely

# Files commonly updated by Dependabot
# The github-actions bot is added as a code owner to allow auto-approval via github-actions
/.github/dependabot.yml @baely @github-actions[bot]
/.github/workflows/ @baely @github-actions[bot]
/go.mod @baely @github-actions[bot]
/go.sum @baely @github-actions[bot]
/Dockerfile @baely @github-actions[bot]