# These owners will be the default owners for everything in the repo.
* @baely

# Dependabot auto-merge workflow owned by baely and dependabot
/.github/workflows/dependabot-automerge.yml @baely @dependabot[bot]