# These owners will be the default owners for everything in the repo.
* @baely

# Files commonly updated by Dependabot
.github/dependabot.yml @baely
.github/workflows/ @baely
go.mod @baely
go.sum @baely
Dockerfile @baely
internal/database/postgres/migrations/Dockerfile @baely