name: Build and Deploy

on:
  workflow_call:
    inputs:
      environment:
        description: "Deployment environment (cloud/beta)"
        required: true
        type: string
      service_name:
        description: "Cloud Run service name"
        required: true
        type: string
      env_file:
        description: "Environment config file path"
        required: true
        type: string

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Authenticate Google Cloud Platform
        uses: google-github-actions/auth@v3
        with:
          credentials_json: "${{ secrets.SERVICE_TOKEN }}"
      - name: Build docker image
        run: docker build -t officetracker .
      - name: Tag docker image
        run: |
          docker tag officetracker asia-southeast1-docker.pkg.dev/baileybutler-syd/officetracker/officetracker:${{ github.sha }}
          docker tag officetracker asia-southeast1-docker.pkg.dev/baileybutler-syd/officetracker/officetracker:latest
      - name: Authorise docker
        run: |
          gcloud auth configure-docker -q
          gcloud auth configure-docker asia-southeast1-docker.pkg.dev
      - name: Publish image
        run: |
          docker push asia-southeast1-docker.pkg.dev/baileybutler-syd/officetracker/officetracker:${{ github.sha }}
          docker push asia-southeast1-docker.pkg.dev/baileybutler-syd/officetracker/officetracker:latest

  deploy:
    name: "Deploy"
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Authenticate Google Cloud Platform
        uses: google-github-actions/auth@v3
        with:
          credentials_json: "${{ secrets.SERVICE_TOKEN }}"
      - name: Load environment variables
        id: env
        run: |
          {
            echo 'ENV_VARS<<EOF'
            cat ${{ inputs.env_file }}
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"
      - name: Deploy Cloud Run
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          project_id: baileybutler-syd
          service: ${{ inputs.service_name }}
          image: asia-southeast1-docker.pkg.dev/baileybutler-syd/officetracker/officetracker:${{ github.sha }}
          region: asia-southeast1
          labels: |
            sha=${{ github.sha }}
          env_vars: ${{ steps.env.outputs.ENV_VARS }}
          secrets: |
            SIGNING_KEY=${{ secrets.SIGNING_KEY }}:latest
            GITHUB_SECRET=${{ secrets.GH_SECRET }}:latest
            POSTGRES_PASSWORD=${{ secrets.PQ_SECRET }}:latest
            REDIS_PASSWORD=${{ secrets.RD_SECRET }}:latest
          flags: "--allow-unauthenticated"
