name: CICD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/build-deploy.yaml
    with:
      environment: cloud
      service_name: officetracker
      env_file: config/cloud.env
    secrets: inherit
